.tela3-container {
  padding: 20px;
}

.tela3-title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.tela3-separator {
  height: 2px;
  background-color: #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.tela3-circle {
  background-color: #00529c;
  color: white;
  border-radius: 50%;
  padding: 10px;
  margin-top: 20px;
}

.tela3-circle-text {
  font-size: 1.4rem;
}

.tela3-task-list {
  list-style: none;
  padding: 0;
}

.tela3-task-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.tela3-task-item.even {
  background-color: #e0f2ff;
}

.tela3-task-item.odd {
  background-color: #d1e7ff;
}

.tela3-task-hora {
  font-size: 1.1rem;
  font-weight: bold;
}

.tela3-task-text {
  font-size: 1.1rem;
  font-weight: 400;
}

.tela3-back-button {
  background-color: #00529c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.tela3-back-button:hover {
  background-color: #0056b3;
}

.task-container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.hora-container {
  width: 50px;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.tela3-logo {
  width: auto;
  height: 50px;
}

.image-small {
  width: auto;
  height: 40px;
}

.task-content {
  display: flex;
  align-items: center;
  gap: 15px;
}

.tela3-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
